* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

.deathIcon,
.recIcon,
.confIcon {
  width: 20px;
  height: 20px;
}

.container-icons {
  width: 100%;
  height: 100%;
  padding: 0.5em;
}
.container-deaths,
.container-recovered,
.container-sick {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.title {
  display: flex;
  align-items: center;
  border-bottom: orange 1px solid;
  width: 100%;
  height: 9vh;
  font-size: 1.8em;
  color: rgb(49, 49, 49);
  padding-left: 0.7em;
}

.display-left {
  display: flex;
  flex-direction: column;
  width: 35vw;
  border-right: 1px solid rgb(186, 187, 186);
  height: 100vh;
}
.display-left-text {
  margin-bottom: 1em;
  padding-right: 1em;
  padding-left: 0.7em;
  font-size: 0.8em;
  color: grey;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 200;
}
.bold {
  font-weight: bold;
  color: rgb(121, 120, 120);
}

.subtitle {
  color: rgb(92, 92, 92);
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.7em;
  margin-bottom: 1.4em;
}

.numbers {
  font-size: 1.4em;
  color: rgb(90, 90, 90);
}

.credit {
  font-size: 0.7em;
  color: rgb(161, 161, 161);
  padding: 0.3em;
  text-align: right;
}

.image-container {
  display: flex;
  align-items: center;
  margin: 0.8em 0 0 0.3em;
  font-size: 1.3em;
  color: rgb(148, 148, 148);
  font-weight: 300;
}

.image-amount {
  width: 40px;
  font-family: "Roboto", sans-serif;
}
.image-text {
  font-family: "Roboto", sans-serif;
  color: rgb(56, 56, 56);
}

.link {
  text-decoration: none;
  color: rgb(17, 72, 82);
}

.numbers-container {
  text-align: center;
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grey-line {
  width: 100%;
  border: 1.1px solid rgb(230, 230, 230);
}

.para-text {
  font-family: "Roboto", sans-serif;
  margin: 1em 0.5em 0 0.5em;
  color: rgb(94, 94, 94);
  font-size: 0.8em;
  padding-left: 0.7em;
}
.text-lower {
  padding-bottom: 1em;
}

.who-link {
  color: rgb(59, 162, 202);
  text-decoration: none;
}

.flex-container {
  display: flex;
}

.icon-text-bottom {
  font-size: 0.6em;
}

.image-key-container {
  display: flex;
  position: absolute;
  bottom: 0.7em;
  margin-left: 45vw;
  font-size: 0.4;
}
.image-key {
  padding: 0.5em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: grey;
}
