* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: row;
}

.container-icons,
.deathIcon,
.recIcon,
.confIcon {
  width: 1em;
  height: 1em;
}

.container-icons {
  padding: 1em;
  display: flex;
  width: 100vw;
  height: 50vh;
}

.main-container {
  display: flex;
}

.display-left {
  width: 35vw;
  border-right: 1px solid green;
  height: 100vh;
}

.subtitle {
  color: grey;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 1em;
  border-bottom: orange 1px solid;
  width: 100%;
  height: 9vh;
  font-size: 1.5em;
  color: rgb(85, 85, 85);
  margin-bottom: 1em;
}

.display-left-text {
  padding: 0 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
  color: grey;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
}
.bold {
  color: rgb(10, 218, 44);
}
