* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: row;
}

.container-icons,
.deathIcon,
.recIcon,
.confIcon {
  width: 1em;
  height: 1em;
}

.container-icons {
  padding: 1em;
  display: flex;
  width: 100vw;
  height: 50vh;
}

.main-container {
  display: flex;
}

.display-left {
  padding: 1em;
  width: 25vw;
  border-right: 1px solid green;
  height: 100vh;
}

.subtitle {
  color: grey;
}
